openapi: 3.2.0
info:
  version: 0.0.1
  title: Famous Seller API
  description: Operations about sellers
servers:
- url: https://api.teespring.com/
tags:
- name: seller
  description: Operations about sellers
paths:
  /seller/v1/messages/variables:
    get:
      description: Message template variables
      responses:
        '200':
          description: Message template variables
      tags:
      - seller
      operationId: getSellerV1MessagesVariables
  /seller/v1/messages/send:
    post:
      description: Send a message to buyer(s)
      responses:
        '201':
          description: Send a message to buyer(s)
      tags:
      - seller
      operationId: postSellerV1MessagesSend
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                access_token:
                  type: string
                  description: authentication token obtained from the V1 Auth API
                email_type_id:
                  type: string
                subject:
                  type: string
                content:
                  type: string
              required:
              - access_token
              - email_type_id
              - subject
              - content
  /seller/v1/messages/recipients:
    get:
      description: Get information about sending a message to buyer(s)
      parameters:
      - in: query
        name: access_token
        description: authentication token obtained from the V1 Auth API
        required: true
        schema:
          type: string
      - in: query
        name: slug
        required: false
        schema:
          type: string
      - in: query
        name: lookup_number
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Get information about sending a message to buyer(s)
      tags:
      - seller
      operationId: getSellerV1MessagesRecipients
  /seller/v1/summary:
    get:
      parameters:
      - in: query
        name: access_token
        description: authentication token obtained from the V1 Auth API
        required: true
        schema:
          type: string
      - in: query
        name: period
        description:
        - today
        - yesterday
        - week
        - month
        - seven_days
        - thirty_days
        required: true
        schema:
          type: string
      - in: query
        name: slug
        description: campaign root slug
        required: false
        schema:
          type: string
      - in: query
        name: flush_cache
        description: Whether or not to flush the cache. Defaults to false.
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: ''
      tags:
      - seller
      operationId: getSellerV1Summary
  /seller/v1/promotions:
    get:
      summary: Promo codes the seller has defined
      description: '


        Seller''s promo codes.'
      parameters:
      - in: query
        name: access_token
        description: authentication token obtained from the V1 Auth API
        required: true
        schema:
          type: string
      - in: query
        name: page
        description: page number to view
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: per_page
        description: number of records per page
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Promo codes the seller has defined
      tags:
      - seller
      operationId: getSellerV1Promotions
  /seller/v1/payouts:
    get:
      summary: Payouts from Teespring
      description: '


        Seller''s payout history, including requests and actual payouts.'
      parameters:
      - in: query
        name: access_token
        description: authentication token obtained from the V1 Auth API
        required: true
        schema:
          type: string
      - in: query
        name: page
        description: page number to view
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: per_page
        description: number of records per page
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Payouts from Teespring
      tags:
      - seller
      operationId: getSellerV1Payouts
  /seller/v1/dashboard/volume_discount:
    get:
      description: Information about volume discounts
      parameters:
      - in: query
        name: access_token
        description: authentication token obtained from the V1 Auth API
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Information about volume discounts
      tags:
      - seller
      operationId: getSellerV1DashboardVolumeDiscount
  /seller/v1/dashboard:
    get:
      summary: All the information shown on the seller dashboard
      description: '


        All the information used to populate the Seller Dashboard, pulled from exactly the same source.'
      parameters:
      - in: query
        name: access_token
        description: authentication token obtained from the V1 Auth API
        required: true
        schema:
          type: string
      responses:
        '200':
          description: All the information shown on the seller dashboard
      tags:
      - seller
      operationId: getSellerV1Dashboard
  /seller/v1/orders/for_buyer_from_order/{lookup_number}:
    get:
      description: Orders placed by a single user
      parameters:
      - in: query
        name: access_token
        description: authentication token obtained from the V1 Auth API
        required: true
        schema:
          type: string
      - in: query
        name: page
        description: page number to view
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: per_page
        description: number of records per page
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: states
        description: 'comma-separated list of order states (failed, cancelled_and_refunded, cancelled, initialized, placed, charged) (default: placed,charged)'
        required: false
        schema:
          type: string
      - in: path
        name: lookup_number
        description: order lookup number
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Orders placed by a single user
      tags:
      - seller
      operationId: getSellerV1OrdersForBuyerFromOrderLookupNumber
  /seller/v1/orders:
    get:
      summary: Orders placed on campaigns
      description: '


        All lifetime orders and line items for the authenticated seller, including information about the purchase and buyer.'
      parameters:
      - in: query
        name: access_token
        description: authentication token obtained from the V1 Auth API
        required: true
        schema:
          type: string
      - in: query
        name: page
        description: page number to view
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: per_page
        description: number of records per page
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: states
        description: 'comma-separated list of order states (failed, cancelled_and_refunded, cancelled, initialized, placed, charged) (default: placed,charged)'
        required: false
        schema:
          type: string
      - in: query
        name: campaign_ids
        description: 'A comma-separated list of campaign ids. Only orders belonging to the provided campaigns will be returned. Default: *'
        required: false
        schema:
          type: string
      - in: query
        name: start_date
        description: A date in the format YYYY-MM-DD. Only return orders on or after this date.
        required: false
        schema:
          type: string
      - in: query
        name: end_date
        description: A date in the format YYYY-MM-DD. Only return orders on or before this date.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Orders placed on campaigns
      tags:
      - seller
      operationId: getSellerV1Orders
  /seller/v1/campaigns/{slug}:
    get:
      summary: Specific campaign root, named by the "slug" (unique identifier in the url) e.g. freefishco
      description: '


        A single campaign root and all of its associated campaigns, given by the "slug" (the part of the URL that is unique to your campaign).'
      parameters:
      - in: query
        name: access_token
        description: authentication token obtained from the V1 Auth API
        required: true
        schema:
          type: string
      - in: path
        name: slug
        description: unique identifier in the campaign's url
        required: true
        schema:
          type: string
      - in: query
        name: history
        description: include previous runs
        required: false
        schema:
          type: boolean
      - in: query
        name: getvars
        description: include GET variables data
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Specific campaign root, named by the "slug" (unique identifier in the url) e.g. freefishco
      tags:
      - seller
      operationId: getSellerV1CampaignsSlug
  /seller/v1/campaigns:
    get:
      summary: All campaign roots
      description: '


        All the campaign roots for the authenticated user. Campaign roots are groupings of individual campaign "runs" for a single design. When you create a campaign in the Composer, you are actually creating a campaign root and an attached campaign. Every time a campaign is relaunched, an additional campaign is added to that campaign root. So every design has a campaign root, and one more campaigns.'
      parameters:
      - in: query
        name: access_token
        description: authentication token obtained from the V1 Auth API
        required: true
        schema:
          type: string
      - in: query
        name: page
        description: page number to view
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: per_page
        description: number of records per page
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: search
        description: search term to filter only records with a matching title or description
        required: false
        schema:
          type: string
      - in: query
        name: states
        description: comma-separated list of campaign states (deleted, draft, active, suspended, success, failed, archive, redirect, hidden)
        required: false
        schema:
          type: string
      - in: query
        name: sort_by_sales
        description: sort by sales in high to low (desc) or low to high (asc)
        required: false
        schema:
          type: string
      - in: query
        name: sort_by_profit
        description: sort by profit in high to low (desc) or low to high (asc)
        required: false
        schema:
          type: string
      - in: query
        name: recency
        description: sort by most/least recent campaigns
        required: false
        schema:
          type: string
      - in: query
        name: slug
        description: Unique identifier in the campaign's url. Providing this will cause the api to only return one campaign.
        required: false
        schema:
          type: string
      - in: query
        name: campaign_id
        description: ID of one of the campaign root's campaigns. Providing this will cause the api to only return one campaign.
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: history
        description: Include previous runs (only if specifying either slug or campaign_id)
        required: false
        schema:
          type: boolean
      - in: query
        name: getvars
        description: Include GET variables data (only if specifying either slug or campaign_id)
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: All campaign roots
      tags:
      - seller
      operationId: getSellerV1Campaigns
